---
import projects from "../collections/projects.json";
import Button from "../components/button.astro";
import PageHeading from "../components/page-heading.astro";
import Project from "../components/projects.astro";
import Layout from "../layouts/main.astro";
import Separator from "../components/home/separator.astro";
---

<Layout title="Mes projets">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Mes projets"
      description="Vous trouverez ici tous mes projets (Développement, Cybersécurité, autres...)"
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          )
        })
      }
    </div>
    <Separator text="Veille technologique" />
    <PageHeading
      title="Veille technologique"
      description="Vous trouverez ici les diverses ressources que j'utilise afin de me tenir informé des dernières tendances et nouveautés dans le domaine de la technologie."
      />
      <Button text="r/pentesting" link="https://www.reddit.com/r/Pentesting/" />
      <Button text="r/netsec" link="https://www.reddit.com/r/netsec/" />
      <Button text="r/cybersecurity" link="https://www.reddit.com/r/cybersecurity/" />
    </section>
</Layout>
